services:

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: root
      RABBITMQ_DEFAULT_PASS: SuperSenha123
    ports:
      - "8080:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 5s
      timeout: 10s
      retries: 5

  mongodb:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: Super_Senha321
    ports:
      - "27017:27017"

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Super@Senha123"
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'Super@Senha123' -C -Q 'SELECT 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s

  redis:
    image: redis

  api:
    build:
      context: ./Api
      dockerfile: dockerfile
    container_name: flux-de-caixa-api
    ports:
      - "8081:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
      sqlserver:
        condition: service_healthy
      redis:
        condition: service_started
      configure-rabbit:
        condition: service_completed_successfully
    environment:
      ConnectionStrings__RabbitMQ: "amqp://root:SuperSenha123@rabbitmq:5672"
      ConnectionStrings__Redis: "redis:6379"
      ConnectionStrings__Sql: "Server=sqlserver,1433;Database=fluxo-de-caixa;User Id=sa;Password=Super@Senha123;TrustServerCertificate=True;"

  report-api:
    build:
      context: ./Api.Report
      dockerfile: dockerfile
    container_name: fluxo-de-caixa-api-report
    ports:
      - "8082:80"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_started
      redis:
        condition: service_started
      configure-rabbit:
        condition: service_completed_successfully
      api:
        condition: service_started
      azure-storage:
        condition: service_started
      gotenberg:
        condition: service_started
    environment:
      rabbitMq: "amqp://root:SuperSenha123@rabbitmq:5672"
      database: "fluxo-de-caixa"
      mongodb: "mongodb://root:Super_Senha321@mongodb:27017"
      blobStorage: "azure-storage"
      AzureWebJobsStorage: "DefaultEndpointsProtocol=https;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://local.storage.emulator:10000/devstoreaccount1;QueueEndpoint=http://local.storage.emulator:10001/devstoreaccount1;"
      gotenberg: http://gotenberg:3000

  app:
    build:
      context: ./App
      dockerfile: dockerfile
    container_name: fluxo-de-caixa-app
    ports:
      - "80:80"
    depends_on:
      api:
        condition: service_started
      report-api:
        condition: service_started

  configure-rabbit:
    build:
      context: ./Configuration
      dockerfile: dockerfile
    container_name: configure-rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      user: "root"
      password: "SuperSenha123"
      host: rabbitmq
      port: 5672

  gotenberg:
    image: gotenberg/gotenberg:7

  azure-storage:
    image: "mcr.microsoft.com/azure-storage/azurite:latest"
    container_name: azure-storage
    ports:
      - 10000:10000
      - 10001:10001